@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
html *,
body,
body * {
  cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 6px;
  height: 6px;
  background-color: #fff;
}

tr {
  border-bottom: thin solid #2f2e33;
}

tr:last-child {
  border-bottom: none;
}

tr:hover {
  background: #1e1d21;
  transition: 0.4s;
  margin-left: 1rem;
}

table.table td {
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 500;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #fff;
}

body {
  background-color: #1e1d21;
  margin-top: 2rem;
  color: #aaa;
  font-family: "Baloo Thambi 2", cursive;
}

#grad {
  background-color: #262529;
  border-radius: 1rem;
  margin-top: 1rem;
  color: #666;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 600;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

#grad th {
  color: #aaa;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 600;
}

.btn-main {
  background: #262529;
  color: #aaa;
}

.btn:hover {
  color: #aaa;
}

path.subunit:hover {
  fill-opacity: 0.8;
}

div.tooltip {
  position: absolute;
  padding: 5px 10px;
  color: #fff;
  border-radius: 4px;
  font: 12px sans-serif;
  background: #262529;
  border: 1px solid #fff;
  pointer-events: none;
  min-width: 150px;
}

.tipps {
  background-color: #262529;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  color: #fff;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 500;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

th {
  font-family: GrotekBold;
}

.tipps_heading {
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 600;
  color: #aaa;
}

.tipps ul li {
  list-style-type: none;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 400;
  color: #aaa;
}

thread {
  border-radius: 1rem;
  color: #aaa;
}

table.table thead th {
  color: #aaa;
}

table.table:first-child td {
  font-size: 28px;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 600;
}

table.table:first-child td:nth-child(1) {
  color: #5851db;
}

table.table:first-child td:nth-child(4) {
  color: #4ccf76;
}

table.table:first-child td:nth-child(3) {
  color: #e1306c;
}

table.table:first-child td:nth-child(2) {
  color: #007bff;
}

.india-data {
  background-image: linear-gradient(to right, #f953c6, #b91d73);
  border-radius: 10px;
}

#header {
  text-align: center;
  color: #aaa;
  font-weight: 600;
  margin-bottom: 2rem;
}

#news {
  text-align: center;
}

.card {
  text-align: initial;
  color: #aaa;
  background: #262529;
}

.card button {
  color: #666;
  background: #262529;
}

.text-center {
  text-align: center;
  color: #aaa;
  margin-top: 3rem;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 600;
  margin-bottom: 2rem;
}

.tipps_p {
  color: #aaa;
}

.text-p {
  text-align: center;
  color: #aaa;
  margin-top: 1rem;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 600;
  margin-bottom: 2rem;
}

h2 {
  font-family: "Baloo Thambi 2", cursive;
  font-weight: 600;
}

.footer {
  background: #1e1d21;
  padding-top: 1rem;
}

.btn-icon i {
  text-align: center;
  font-size: 22px;
  width: 26px;
  color: #aaa;
  line-height: 24px;
  padding-top: 1px;
}

.btn-icon {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  border-radius: 100%;
  transition: 0.3s all ease-in-out;
}

.btn-icon:hover {
  transition: 0.3s all ease-in-out;
  transform: scale(0.8);
}

.btn-icon:focus {
  transition: 0.3s ease-in-out;
  transform: scale(0.8);
}

.icon-row {
  justify-content: center;
}

.footer {
  margin: 0 auto;
  text-align: center;
}

.credits {
  font-size: 14px;
  padding: 10px;
  display: block;
}

.credits span {
  font-family: GrotekMed;
  color: #aaa;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

#graph-data {
  display: none;
  background: #262529;
}

#map-data {
  background: #262529;
}

#fast-data {
  display: none;
}

#btn-map {
  transition: 0.4s all ease-in-out;
}

#btn-graph {
  transition: 0.4s all ease-in-out;
}

/* Floating action button */

.icon {
  width: 30px;
  height: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #262529;
  box-shadow: 8px 8px 16px #aaa, -8px -8px 16px #aaa;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 20;
  opacity: 0.5;
  transition: opacity 0.1s;
}

.icon:active,
.icon:hover {
  opacity: 1;
}

.invisible {
  display: none;
}

.datarow {
  display: none;
  background-color: #262529;
}

.delta {
  color: red;
  display: inline;
  font-size: smaller;
}

.dark-mode {
  background-color: #e3eef1;
  background: #e3eef1;
}
